/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";
    combo_esc {
      timeout-ms = <50>;
      key-positions = <0 1>;
      bindings = <&kp ESC>;
    };

    combo_tab {
      timeout-ms = <50>;
      key-positions = <10 11>;
      bindings = <&kp TAB>;
    };

    // Sticky layer 3
    combo_l_layer_3 {
      timeout-ms = <50>;
      key-positions = <30 31>;
      bindings = <&sl 3>;
    };

    // Sticky layer 3
    combo_r_layer_3 {
      timeout-ms = <50>;
      key-positions = <32 33>;
      bindings = <&sl 3>;
    };
  };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// _________________________________________________                                               _________________________________________________
			// |       |   Q   |   W   |   F   |   P   |   B   |                                               |   J   |   L   |   U   |   Y   |   ;   |       |
			// |       |   A   |   R   |   S   |LAlt(T)|   G   |________________               ________________|   M   |RCmd(N)|   E   |   I   |   O   |       |
			// |       |   Z   |   X   |   C   |   D   |   V   |       |       |               |       |       |   K   |   H   |   ,   |   .   |   /   |       |
			// ------------------------|       |       |  L1+B | ENT+S |  ESC  |               |  TAB  |  RET  | SPACE |       |       |------------------------
			bindings = <
				&none    &kp Q    &kp W    &kp F    &kp P    &kp B                                                 &kp J    &kp L    &kp U    &kp Y    &kp SEMI &none
				&none    &kp A    &kp R    &kp S    &hm LALT T &kp G                                               &kp M    &hm RCMD N &kp E  &kp I    &kp O    &none
				&none    &kp Z    &kp X    &kp C    &kp D    &kp V    &none    &none             &none    &none    &kp K    &kp H    &kp COMMA &kp DOT &kp FSLH &none
				                           &none    &none    &lt 1 BSPC &mt LSHFT ENTER &kp ESC  &kp TAB  &sk RSHFT &lt 2 SPACE  &none    &none
			>;

			// sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		left_layer {
			// _________________________________________________                                               _________________________________________________
			// |       |   !   |   @   |   #   |   $   |   %   |                                               |   ^   |   &   |   '   |   `   |       |       |
			// |       |   ~   |   +   |   (   |   )   |  COPY |________________               ________________|   |   |   -   |   =   |   _   |   *   |       |
			// |       |       |  EXT  |   {   |   }   | PASTE |       |       |               |       |       |       |   [   |   ]   |       |   \   |       |
			// ------------------------|       |       | TRANS | TRANS | TRANS |               |       |       |       |       |       |------------------------
			bindings = <
				&none    &kp EXCL &kp AT   &kp HASH &kp DOLLAR &kp PERCENT                                         &kp CARET    &kp AMPS    &kp APOS    &kp GRAVE    &none &none
				&none    &kp TILDE &kp PLUS &kp LPAR &kp RPAR &kp LG(C)                                            &kp PIPE    &kp MINUS &kp EQUAL  &kp UNDER    &kp STAR    &none
				&none    &none    &kp LG(X) &kp LBRC &kp RBRC &kp LG(V) &none &none              &none  &none  &none  &kp LBKT &kp RBKT  &none  &kp BSLH  &none
				                           &none    &none    &trans  &trans &trans               &none  &none  &none  &none    &none
			>;
		};

		right_layer {
			// _________________________________________________                                               _________________________________________________
			// |       |       |   1   |   2   |   3   |       |                                               |       |       |   UP  |       | VOL + |       |
			// |       |   0   |   4   |   5   |   6   |       |________________               ________________|       | LEFT  |  DOWN | RIGHT | VOL - |       |
			// |       |       |   7   |   8   |   9   |       |       |       |               |       |       |       |       |       | TRANS | MUTE  |       |
			// ------------------------|       | LCtrl |       |       |       |               |       |       |       | TRANS |       |------------------------
			bindings = <
				&none    &none    &kp KP_N1 &kp KP_N2  &kp KP_N3    &none                                          &none    &none     &kp UP  &none    &kp C_VOL_UP &none
				&none    &kp KP_N0 &kp KP_N4 &kp KP_N5 &kp KP_N6 &none                                             &none    &kp LEFT  &kp DOWN &kp RIGHT &kp C_VOL_DN &none
				&none    &none    &kp KP_N7 &kp KP_N8 &kp KP_N9  &none  &none &none             &none    &none     &none    &none     &none   &trans  &kp C_MUTE   &none
				                           &none  &sk LCTRL  &none  &none  &none                &none    &none     &none    &trans    &none
			>;
		};
	};
};
