/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <200>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// _________________________________________________                                               _________________________________________________
			// |       |   Q   |   W   |   F   |   P   |   B   |                                               |   J   |   L   |   U   |   Y   |   ;   |       |
			// |       |   A   |   R   |   S   |LAlt(T)|   G   |________________               ________________|   M   |RCmd(N)|   E   |   I   |   O   |       |
			// |       |   Z   |   X   |   C   |   D   |   V   |       |       |               |       |       |   K   |   H   |   ,   |   .   |   /   |       |
			// ------------------------|       |       |  RET  | SPACE |  ESC  |               |  RET  | SPACE |  TAB  |       |       |------------------------
			bindings = <
				&none    &kp Q    &kp W    &kp F    &kp P    &kp B                                                 &kp J    &kp L    &kp U    &kp Y    &kp SEMI &none
				&none    &kp A    &kp R    &kp S    &hm LALT T &kp G                                               &kp M    &hm RCMD N &kp E  &kp I    &kp O    &none
				&none    &kp Z    &kp X    &kp C    &kp D    &kp V    &none    &none             &none    &none    &kp K    &kp H    &kp COMMA &kp DOT &kp FSLH &none
				                           &none    &none    &kp RET  &kp SPACE &kp ESC          &kp RET  &kp SPACE &kp TAB &none    &none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
